body{
    background: purple;
<<<<<<< HEAD
}

h1{
<<<<<<< Updated upstream
    font-size: 100px;
    color: red;
=======
    color: red;
    font-size: 100px;
>>>>>>> Stashed changes
=======
>>>>>>> parent of a57d920... Добавил размер и цвет
}